*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
# Ignore application configuration
/config/application.yml
*.env*
*.pem
.aws
*.rdb
/public/uploads/
/public/assets/
*~*
/vendor/hotels/sample/**/photos/*
/vendor/hotels/sample/**/*.jpg
/vendor/hotels/structure/
vendor
TODO