<div class="col-md-12" id="carousalBox">
	<div id="myCarousel" class="carousel slide thumbnail">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<% shop.photos.each_with_index do |photo, index| %>
				<%= content_tag "div", class: append_first("item", "active") , :data => {:slide_number => "#{index}" } do %>
					<%= image_tag photo.photo_url(:banner) %>
				<% end %>
			<% end %>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
</div>

<!-- thumb navigation carousel -->
<div class="col-md-12 hidden-sm hidden-xs" id="slider-thumbs">
	<!-- thumb navigation carousel items -->
	<ul class="list-inline">
		<% shop.photos.each_with_index do |photo, index| %>
			<li>
				<%= content_tag "a", id: "carousel-selector-#{index}"  , class: append_first('carousal-thumb', "selected") do %>
					<%= image_tag photo.photo_url(:thumb) , :class=>"img-responsive" %>
				<% end %>
			</li>
		<% end %>
	</ul>
</div>
