<div class="container">
  <div class="col-md-3">
    <%= render 'credit_cards/security_info' %>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class='heading'><%= t "credit_card.new.title" %></h3>
      </div>
      <div class="panel-body">
        <%= render 'form' %>          
      </div>
    </div>
  </div>

  <div class="col-md-3">
  </div>

</div>

