<div class="row-fluid">
  <div class="span4">
    <%= f.input :language_id, as: :select, collection: Language.all.map { |l| [l, l.id]} %>
    <%= f.link_to_remove remove, :class => 'btn btn-mini btn-danger' %>
  </div>
  <div class="span8">
    <%= f.input :name %>
    <%= f.input :description, :input_html => { rows: 10 } unless skip_body %>
  </div>
</div>