<%= render "shared/custom_errors", errors: klass_instance.errors[:descriptions] %>
<%= f.simple_fields_for :descriptions do |description_form| %>
  <%= render "descriptions/fields", f: description_form,
                                  title: t("#{klass}.form.descriptions.title_each"),
                                  remove: t("#{klass}.form.descriptions.remove_each"),
                                  skip_body: false %>
<hr/>
<% end %>
<p>
  <%= f.link_to_add t("#{klass}.form.descriptions.add"), :descriptions, :class => 'btn btn-block' %>
</p>
<hr/>