<div id="carousel-featured-hotels" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-featured-hotels" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-featured-hotels" data-slide-to="1"></li>
        <li data-target="#carousel-featured-hotels" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="/assets/slides/slide1.1.jpg" >
            <div class="carousel-caption">
                <h3>Featured Hotel-1</h3>
                <p>Hotel details here</p>
            </div>
        </div>
        <div class="item">
            <img src="/assets/slides/slide2.1.jpg" >
            <div class="carousel-caption">
                <h3>Featured Hotel-2</h3>
                <p>Hotel details here</p>
            </div>
        </div>
        <div class="item">
            <img src="/assets/slides/slide3.1.jpg" >
            <div class="carousel-caption">
                <h3>Featured Hotel-3</h3>
                <p>Hotel details here</p>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-featured-hotels" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-featured-hotels" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>