<div id="carousel-rwanda-pics" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-featured-hotels" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-featured-hotels" data-slide-to="1"></li>
        <li data-target="#carousel-featured-hotels" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <% rwanda_pictures.each_with_index do |photo, index| %>
            <%= content_tag "div", class: append_first("item minicarousel", "active") , :data => {:slide_number => "#{index}" } do %>
                <%= image_tag "rwanda/#{photo.split('/').last}", size: '400' %>
            <% end %>
        <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-rwanda-pics" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-rwanda-pics" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>