<% unless errors.blank? %>
  <div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <% errors.each do |error| %>
      <%= error %>
    <% end %>
  </div>
<% end %>
