<div class="container text-center footer-links">
  <%= link_to t("footer.links.about"), about_path, class: "btn btn-mini btn-link" %> |
  <%= link_to t("footer.links.contact"), contactinfo_path, class: "btn btn-mini btn-link" %> |
  <%= link_to t("footer.links.terms"), terms_path, class: "btn btn-mini btn-link" %>

  <p><small>© 2013 Swakuda</small></p>
</div>