<!--Header Here-->
<header class="container">
	<div class="logo col-xs-12 col-sm-12 col-md-4"><%= link_to image_tag("logo.png"), root_path %></div>
  <div class="col-sm-12 col-xs-12 col-md-4 col-md-offset-4">
    <%= render 'shared/navbar_inner' %>
  </div>
</header>