<div class="container">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div class="login-or">
      <hr class="hr-or">
      <h3 class="span-or heading" style='text-align: center;width: 150px;margin-left: -75px;'><%= t "page.about.title" %></h3>
    </div>
    <div class="box" style=''>
      <%= render 'about_content' %>
    </div>
  </div>
  <div class="col-md-1">
  </div>

</div>