<div class="container">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <h3 class="heading" style='text-align: center;'>Contact Us</h3>
    <br />
    <div class="box">
      <%= render 'contact_forms/form' %>
    </div>
  </div>
  <div class="col-md-2">
  </div>

</div>