<% title t("page.sitemap.title") %>
<div class="container">
  <h1><%= t("page.sitemap.title") %></h1>

  <table cellpadding="0" cellspacing="0" border="0" width="100%">

    <tr valign="top">
    <td class="lpart" colspan="100"><div class="lhead">/
    <span class="lcount">5 pages</span></div>

    <table cellpadding="0" cellspacing="0" border="0" width="100%">

    <tr><td><a href="http://ahantu.com/" title="Ahantu">Ahantu</a></td></tr>
    <tr><td><a href="http://ahantu.com/about" title="Ahantu - About Ahantu">Ahantu - About Ahantu</a></td></tr>
    <tr><td><a href="http://ahantu.com/contact" title="Ahantu - Contact us">Ahantu - Contact us</a></td></tr>
    <tr><td><a href="http://ahantu.com/terms" title="Ahantu - Terms of service">Ahantu - Terms of service</a></td></tr>
    <tr><td><a href="http://ahantu.com/sitemap" title="Ahantu - Sitemap">Ahantu - Sitemap</a></td></tr>
    </table>
    </td>
    </tr>

  </table>
</div>