<% title t("page.terms.title") %>
<div class="container">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <h3 class="heading" style='text-align: center;'><%= t("page.terms.title") %></h3>
    <br />
    <div class="box">
      <%= render 'term_content' %>
    </div>
  </div>
  <div class="col-md-1">
  </div>

</div>