<%= simple_form_for(@cart) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
		<% @shop.items.each do |i| %>
      <hr />
		  <%= render 'items/show', item: i, f: f %>
		<% end %>
  </div>

  <hr />

  <div class="actions">
    <%= f.button :submit, "Checkout", class: "btn btn-block btn-large btn-success" %>
  </div>
<% end %>

