<h1>Listing carts</h1>

<table>
  <thead>
    <tr>
      <th>Shop</th>
      <th>Total at checkout</th>
      <th>Submitted att</th>
      <th>Billing inform</th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td><%= link_to cart.shop, cart.shop, class: "btn btn-link" %></td>
        <td><%= link_to cart.total, cart, class: "btn btn-link" %></td>
        <td><%= link_to cart.checkout_at, cart, class: "btn btn-link" %></td>
        <td><%= link_to cart.billing_information, cart, class: "btn btn-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

