<p>
  <strong>Confirmation number:</strong>
  <%= @cart.order_number %>
</p>

<p>
  <strong>Reservation made:</strong>
  <%= @cart.checkout_at %>
</p>

<p>
  <strong>Billing information:</strong>
  <%= @cart.billing_information %>
</p>

<%= render 'bookings/index', cart: @cart %>
