<div class="row-fluid">
  <div class="span6"><%= f.input :checkin_at, as: :string, :input_html => {
    :data => { behaviour: "datepicker" },
    value: f.object.suggested_checkin_at(current_user),
    class: "search-date"
  } %></div>
  <div class="span6"><%= f.input :checkout_at, as: :string, :input_html => {
    :data => { behaviour: "datepicker" },
    value: f.object.suggested_checkout_at(current_user),
    class: "search-date"
  } %>
  </div>
</div>