<div class="container">
  <div class="col-md-3">
    <%= render 'searches/form' %>
  </div>
  <div class="col-md-9" id='search_result'>
          <%= render 'searches/search_result' %>
  </div>

</div>
