<%= content_tag "div",
    id: "room-photo-#{photo.id}",
    class: "modal hide fade",
        tabindex: "-1",
        role: "dialog",
        :aria => { labelledby: "Room photo", hidden: "true"} do %>
        <div class="modal-body">
            <%= image_tag photo.photo_url(:banner), class: "img-rounded" %>
        </div>
<% end %>