<div class="top-section-extra-info">
  <% room_tag_categories.each do |c| %>
    <% unless room.subclass_tags(c).blank? %>
			<h4 class="title"><%= label_for_tag_category(c) %></h4>
			<% room.subclass_tags(c).each do |tag| %> 
					<p><span class="glyphicon glyphicon-ok-sign"></span> <%= tag %></p>
			<% end %>
		<% end %>
	<% end %>
</div>