<div class="container">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <div class="box" style=''>      
      <div class="login-or">
        <hr class="hr-or">
        <h3 class="span-or heading" style='text-align: center;width: 150px;margin-left: -75px;'>Contact Us</h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
  <div class="col-md-2">
  </div>
  
</div>
