/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 * require bootstrap-theme
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require datepicker.css
 *= require custom.css
 *= require jquery-ui
 *= require_self
 */

hr.thick { border: 0; height: 0; /* Firefox... */ box-shadow: 0 0 10px 1px black; }
hr.thick:after { /* Not really supposed to work, but does */ content: "\00a0"; /* Prevent margin collapse */ }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

.container{
	padding: 10px;
}

#content {
  padding: 10px;
  padding-bottom: 200px; /* Height of the footer element */
}

#footer {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #DEDBDB;
}

.footer-links {
  padding-top: 25px;
}

.table-label {
  width: 100%;
  height: 100%;
  display: block;
}