@charset "UTF-8";
/*
        Custom CSS Document
        Author: Divakar Manikyam
*/

/*Fonts here*/

@font-face {
    font-family: 'PacificoRegular';
    src: url('/fonts/Pacifico-webfont.eot');
    src: url('/fonts/Pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Pacifico-webfont.woff') format('woff'),
         url('/fonts/Pacifico-webfont.ttf') format('truetype'),
         url('/fonts/Pacifico-webfont.svg#PacificoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("//themes.googleusercontent.com/static/fonts/opensans/v6/u-WUoqrET9fUeobQW7jkRT8E0i7KZn-EPnyo3HZu7kw.woff") format('woff');
}

/*Headings here*/

h1{}
h2{}
h3{}
h4{font-family: "OpenSans", Helvetica, Arial, sans-serif}
h4.title{font-family:"OpenSans", Helvetica, Arial, sans-serif; font-weight:600;font-size:17px;}
h5{}
h6{}

/*Logo here*/

.logo{ height:58px;}

/*Top menu here*/

.top-menu {padding:0px; margin:18px 0px 10px; height:30px;}
.top-menu li{float:left; list-style:none; padding:0 5px; font-size:14px; }
.top-menu li a{color:#57494b;}
.top-menu li a:hover{color:#7daf66; text-decoration:none;}
.top-menu li:last-child{padding:0px;}
.top-menu li.lang {margin:-6px 0 0 8px;}
.top-menu li.lang .form-control{
    padding:6px 15px;
    margin: 0;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    background: url(asset-path('down-arrow.png')) no-repeat 113px center #7daf66;
    color:#fff;
    text-shadow:0 1px 0 #333;
    border:0;
    outline:0;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
        width:135px;
        overflow:hidden;
        -o-transition:.5s;-ms-transition:.5s;-moz-transition:.5s;-webkit-transition:.5s;
          /* ...and now for the proper property */
          transition:.5s;
}
.top-menu li.lang .form-control select{ width:150px; background:transparent;padding:0;
    margin: 0;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px; color:#fff;
        text-shadow:0 1px 0 #333;
    border:none;
    outline:none;-webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;}
.top-menu li.lang .form-control:hover{background: url(asset-path("down-arrow.png")) no-repeat 113px center #94ce7a;-o-transition:.5s;-ms-transition:.5s;-moz-transition:.5s;-webkit-transition:.5s;
          /* ...and now for the proper property */
          transition:.5s;}

/*Search Steps here*/

.search-holder{background:#57494b;}
.search-holder li{list-style:none;}
.search-holder li .step{ margin:10px 0; background:url(asset-path("grey_bg.png")) repeat; min-height:115px; text-align:center; padding-bottom:15px;-o-transition:.5s;-ms-transition:.5s;-moz-transition:.5s;-webkit-transition:.5s;
          /* ...and now for the proper property */
          transition:.5s;}
.search-holder li .step h4 {padding: 20px 0 10px; color:#3c2f2f; text-shadow:0 1px 0 #e2e1e0;}
.search-holder li .step input[type=text]{ width:90%; background:#ebebeb; border:solid 1px #aaaaa9; border-radius:0px; margin:0 auto;}
.search-holder li .step.mid{background:url(asset-path("green_bg.png")) repeat;}
.search-holder li .step.mid h4{color:#274f14;text-shadow:0 1px 0 #98cd83;}
.search-holder li .step.mid input[type=text].datepicker , .customdate {background:url(asset-path("calendar.png")) no-repeat right center #ebebeb; border:solid 1px #6f9559; height:33px; width:100%; color:#919191; border-radius:0px; font-size: 1em; }
.search-holder li .step.mid div.col-md-6{ margin-left:0px;}
.search-holder ul{ margin-bottom:1px;}
.search-holder li .step:hover{ box-shadow:0 1px 15px #111;-o-transition:.5s;-ms-transition:.5s;-moz-transition:.5s;-webkit-transition:.5s;
          /* ...and now for the proper property */
          transition:.5s;}

.no-of-adults{
        padding:0px;
    margin: 0 0 -13px;
           background: url(asset-path("select-arrow.png")) no-repeat 37px center #ebebeb;
    color:#fff;
        border-radius:0px;
        border:solid 1px #ada8a6;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
        width:74px;
        height:33px;
        color:#000;
        -o-transition:.5s;-ms-transition:.5s;-moz-transition:.5s;-webkit-transition:.5s;
          /* ...and now for the proper property */
          transition:.5s;
        overflow:hidden;
        }
.no-of-adults select{ padding:5px; background:none;border-radius:0px;
        border:0;
    outline:0; width:94px;height:33px;}
.no-of-adults:hover{background: url(asset-path("select-arrow-hover.png")) no-repeat 37px center #ebebeb;-o-transition:.5s;-ms-transition:.5s;-moz-transition:.5s;-webkit-transition:.5s;
          /* ...and now for the proper property */
          transition:.5s;}
.no-of-adults option{ background:#fff;color:#000;}

/*  Shop Details page */

.box{
	-moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 2px 0px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 2px 0px;
	box-shadow: rgba(0, 0, 0, 0.25) 0 1px 2px 0px;
	border: 1px solid #E0E0E0;
	background: none repeat scroll 0% 0% #FFF;
	position: relative;
	padding: 20px;
	margin-bottom: 20px;
	width: 100%;
	float: left;
	height: auto !important;
	
}

.top-section-heading {
    width: 100%;
    height: auto;
    float: left;
}
.top-section-extra-info {
    width: 100%;
    height: auto;
    float: left;
    border-top: 1px solid #EEE;
    padding-top: 12px;
    padding-bottom: 12px;
}

.map-block{
  text-align:left;color:#696E75;font-size:14px;
}

.location-box{
	border: solid #e0e0e0 1px;
}

.location-box h1,.location-box h2,.location-box h3, .location-box h4{
	padding-left:10px;
}


.main-carousel .item h3{font-family:"OpenSans", Helvetica, Arial, sans-serif; font-size:42px;color:#fff;
background: url(asset-path("slides/white-dot.png")) repeat;
text-align: left;
padding: 15px 20px;
display: inline-block;
float: left;
}
.main-carousel .item .carousel-caption{top:8%; text-shadow:0 1px 6px #000;}
.main-carousel .item .carousel-caption a{ color:#fff;}
.main-carousel .item .carousel-caption a:hover h3{color:#ececec;text-decoration:none;}
.main-carousel .item .carousel-caption a:hover{color:#ececec;text-decoration:none;}
/*Select field fix for Mozilla*/

select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
        outline:0;
        background:none;
}
select:focus, select:visited{outline:0; background:transparent;}
select option.style{background:#fff; padding:5px; color:#000; font-size:14px; border:none; text-shadow:none;}

.step .form-inline{margin:0 15px; min-width:163px; float:left;}
.step .col-md-9{ padding-left:8px;}
.step .col-md-3{ padding-left:0px;}

/*Buttons here*/

.add, .add:focus, .add:visited{
background: #274f14;
border-radius: 0px;
border: none;
font-size: 36px;
text-shadow: 0 1px 0 #000;
padding: 3px 7px 9px;
line-height: 22px;
color: #fff;
outline:none;
-webkit-tap-highlight-color:#274f14;
}
.add:hover, .add:active{background:#4d8134; color:#fff; border:none; outline:none;}
.remove, .remove:focus, .remove:visited{
background: #c54d24;
border-radius: 0px;
font-size: 42px;
text-shadow: 0 1px 0 #000;
padding: 3px 10px 9px;
line-height: 22px;
color: #fff;
border: none;
outline:none;
-webkit-tap-highlight-color:#c54d24;
}
.remove:hover, .remove:active{background:#de7855; color:#fff; border:none; outline:none;}
.search, .search:focus, .search:visited{
background: #259dc0;
border-radius: 0px;
border: none;
font-size: 14px;
text-shadow: 0 1px 0 #000;
padding: 6px 7px 7px;
color: #fff;
outline:none;
float:right;
-webkit-tap-highlight-color:#259dc0;
}
.search:hover, .search:active{background:#47bee0; color:#fff; border:none; outline:none;}

.publish-hotel, .publish-hotel:visited{background:#274f14; border-radius:0px; margin-top:10px; color:#a2c990; text-shadow:0 1px 0 #000; font-size:24px; font-weight:lighter;-o-transition:.5s;-ms-transition:.5s;-moz-transition:.5s;-webkit-transition:.5s;
          /* ...and now for the proper property */
          transition:.5s;-webkit-tap-highlight-color:#274f14;}
.publish-hotel:hover{color:#a2c990;background:#3d7124;-o-transition:.5s;-ms-transition:.5s;-moz-transition:.5s;-webkit-transition:.5s;
          /* ...and now for the proper property */
          transition:.5s;}

/*Featured Hotels Carousel*/

#carousel-featured-hotels{margin:10px 0;}
#carousel-featured-hotels .carousel-caption{
/* Fallback for web browsers that don't support RGBa */
background-color: rgb(0, 0, 0);
/* RGBa with 0.6 opacity */
background-color: rgba(0, 0, 0, 0.6);
/* For IE 5.5 - 7*/
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
/* For IE 8*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.datepicker:before{display:none !important;}
.datepicker:after{display:none !important;}

.main-carousel .carousel-inner, .main-carousel .carousel-inner > .item, .main-carousel .carousel-inner > .item > img{min-height:293px; }
.carousel-inner > .item > img, .carousel-inner > .item > a > img{ margin:0 auto;}
.carousel-inner > .item > img, .carousel-inner > .item { background:#000; overflow:hidden;}

.absolute {
z-index: 100;
position: absolute;
top: 0px;
}
.absolute h4 {
margin-top: 0px;
}
.carousel-caption.user-profile {
position: absolute;
text-align: right;
float: right;
bottom: inherit;
right: 20px;
top: 64% !important;
background: none !important;
left:auto;
}
.media-body{ margin-top:10px;}
.media-body p{ font-size:12px;}
.media-body h4{ font-size:18px;}

/*Footer here*/

footer{background:#090b0c;}
footer .container{padding:20px 0;}
footer ul{margin:0px; padding:0px}
footer ul li{list-style:none; float:left; padding:0 5px; color:#ccc;}
footer ul li:first-child{padding-left:0px;}
footer ul li a{color:#fff; font-size:12px;}
footer ul li a:hover{color:#ccc; text-decoration:none;}
footer .copy-rights{font-size:12px; color:#fff;}
footer .footer-logo{float:right;}

.absolute .fields {
float: left;
margin: 2px;
}
/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .top-menu li.lang select {padding-right:18px}

}


/*Media queries here for responsiveness*/

/* Large desktop */
@media (min-width: 1200px) {

        .logo{float:left; margin:0px; text-align:left;}
        .top-menu{float:right;}

 }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

        .logo{float:none; margin:0px auto; text-align:center;}
        .top-menu{margin: 18px auto 10px; float:none;}
        .main-carousel .item h3{ font-size:32px;}
        .main-carousel .item h2{ font-size:24px;}
        .main-carousel .carousel-inner, .main-carousel .carousel-inner > .item, .main-carousel .carousel-inner > .item > img{min-height:293px;}
  .absolute{position:relative;}
 }

@media (min-width: 980px) and (max-width: 1200px) {

        .step .form-inline{ margin:0 auto;}
        .step .col-md-3{ padding-left:0px; padding-right:8px;}

 }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

        .logo{float:none; margin:0px auto; text-align:center;}
        .top-menu{margin: 18px auto 10px; float:none;}
        .main-carousel .item h3{ font-size:24px;}
        .main-carousel .item h2{ font-size:18px;}
        .main-carousel .carousel-inner, .main-carousel .carousel-inner > .item, .main-carousel .carousel-inner > .item > img{min-height:253px; }
  .absolute{position:relative;}
 }

/* Landscape phones and down */
@media (max-width: 480px) {

        .logo{float:none; margin:0px auto; text-align:center;}
        .top-menu{margin: 18px auto 10px; float:none;}
        .step .form-inline{float:none;}
        button.search, button.search:focus {float: none;width: 100%;margin:8px 8px 0;}
        .main-carousel .item h3{ font-size:24px; line-height:24px}
        .main-carousel .item h2{ font-size:14px;}
        .main-carousel .carousel-inner, .main-carousel .carousel-inner > .item, .main-carousel .carousel-inner > .item > img{min-height:200px; }
        .absolute{position:relative;}

 }

 .login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
            margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
  }
  .hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  h3 {
    text-align: center;
    line-height: 300%;
  }


h3.heading {
  margin: 2px 0px 2px 0px;
  line-height: 100%;
  text-transform:uppercase;
  color: #00ABCC;
  font-size: 19px;
  text-align: left;
}


html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
} 

.selected img {
  opacity:0.5;
}
.carousal-thumb{
  cursor: pointer;  
}
#carousalBox{
  padding:10px;
  width:100%;
}

.section-box{
 color:#333;
}
