// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.footer {
  background-color: #DEDBDB;
  height: 200px;
  margin-top: 25px;
}

.footer-links {
  padding-top: 25px;
}