// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.homepage-search {
  min-height: 400px;
}

.search-date {
  width: 100px;
}

.search-rooms {
  width: 50px;
}