<div class="step">
	<h4><%= t "page.index.search.step1" %></h4>
<!--     <input type="text" id="pName" class="form-control">
 -->    <%= f.input_field :keyword, class: "form-control" %>
 		<!-- , placeholder:"City, neighborhood, hotel name, etc." -->
 		<%#= f.hint :keyword, class: "help-block" %>

</div>

